#
# Sentry Configuration
#

# DSN (Sentry Error Reporting URL)
# Beispiel: https://key@sentry.io/projectid
SENTRY_DSN=https://d2063659e6e7462794cd07200c817ba5@errors-observability.app.0046-20.cloud.bauer-group.com/4

# Environment (development, staging, production)
SENTRY_ENVIRONMENT=linux-docker

# Release Version (Format: app-name@version)
SENTRY_RELEASE=mini-project@0.1.0

# Trace Sample Rate (0.0 - 1.0, 1.0 = 100% sampling)
SENTRY_TRACES_SAMPLE_RATE=1.0

# Profiles Sample Rate (0.0 - 1.0)
SENTRY_PROFILES_SAMPLE_RATE=1.0

# Max Breadcrumbs (1-100)
SENTRY_MAX_BREADCRUMBS=50

# App Settings
APP_DEBUG=true
APP_NAME=Sentry-Mini
APP_VERSION=0.1.0
